<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ title|default('Semitexa') }}{% endblock %}</title>
    {{ semantic_head() }}
    {{ asset_head() }}
    {% block head_extra %}{{ layout_slot('head_extra') }}{% endblock %}
  </head>
  <body{{ __ssr_handle_attr|default('')|raw }}>
    <header>
      {% block header %}{{ layout_slot('header') }}{{ header|default('')|raw }}{% endblock %}
    </header>
    <nav class="breadcrumbs" aria-label="Breadcrumbs">
      {% block breadcrumbs %}{{ layout_slot('breadcrumbs') }}{{ breadcrumbs|default('')|raw }}{% endblock %}
    </nav>
    {% block nav %}{{ layout_slot('nav') }}{{ nav|default('')|raw }}{% endblock %}
    <main>
      {% block main %}{{ layout_slot('main_before') }}{{ main|default(content|default(''))|raw }}{{ layout_slot('main_after') }}{% endblock %}
    </main>
    <footer>
      {% block footer %}{{ layout_slot('footer') }}{{ footer|default('')|raw }}{{ layout_slot('footer_after') }}{% endblock %}
    </footer>
    {{ asset_body() }}
  </body>
</html>


